.dev-icon:nth-child(1) {
  color: #1f518d;
}

.dev-icon:nth-child(2) {
  color: #205391;
}

.dev-icon:nth-child(3) {
  color: #215695;
}

.dev-icon:nth-child(4) {
  color: #22589a;
}

.dev-icon:nth-child(5) {
  color: #235b9e;
}

.dev-icon:nth-child(6) {
  color: #245da2;
}

.dev-icon:nth-child(7) {
  color: #255fa6;
}

.dev-icon:nth-child(8) {
  color: #2562aa;
}

.dev-icon:nth-child(9) {
  color: #2664ae;
}

.dev-icon:nth-child(10) {
  color: #2767b3;
}

.dev-icon:nth-child(11) {
  color: #2869b7;
}

.dev-icon:nth-child(12) {
  color: #296bbb;
}

.dev-icon:nth-child(13) {
  color: #2a6ebf;
}

.info-card {
  max-width: 500px;
  width: 100%;
  min-width: 320px;
  max-height: 600px;
  margin: 0 auto;
}

.info-card h3 {
  text-align: center;
}

.blog-post-card {
  cursor: pointer;
  max-width: 800px;
  display: grid;
  text-decoration: none;
}

.card.blog-post-card {
  max-width: 800px;
  padding: 0px;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
}
.card.blog-post-card:hover {
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.75);
}

.note {
  text-align: center;
}
.note .text {
  display: inline-flex;
  font-style: italic;
}
.note .text p {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
}

.offer-description {
  display: grid;
  grid-gap: 22px;
  padding: 20px;
}

.offer-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 630px) {
  .offer-details {
    grid-template-columns: 1fr;
  }
}
.offer-details .info-box {
  border-top: 1px solid;
  padding: 4px;
  padding-top: 10px;
}
@media (min-width: 630px) {
  .offer-details .info-box:first-child {
    border-right: 1px solid;
  }
}
.offer-details .info-box h3 {
  text-align: center;
}
.offer-details .info-box p {
  padding-left: 10px;
  padding-right: 10px;
}

.cv h2 {
  text-decoration: underline;
}